@page
@model Crud.Pages.Tasks.Index1Model
@{
}

<br>
	<h2>New Task</h2>

	<form method= "POST">
		<div class="row mb-3">
			
		<lable class="col-sm-3 col-form-lable">Title</lable>

		<div class="col-sm-6">
			<input type ="text" class="form-check-control" name=" title" value="" >
			</div>

		<div class="row mb-3">

			<lable class="col-sm-3 col-form-lable">Title</lable>

			<div class="col-sm-6">
				<input type="text" class="form-check-control" name=" description" value="">
			</div>

			</form>



